<div class="home-container">
  <div class="recent-blogs">
    <h2>Các đơn hàng có thể lựa chọn</h2>
    <p class="intro-text">
      Dưới là danh sách các đơn hàng được cập nhật mới nhất, có thể chọn ngay!
    </p>
    <div class="blogs-grid">
      <div class="whats-new">
        <h3>Tin tức mới !</h3>
        <p>
          Lùa hơn 1100 con gà!
        </p>
      </div>

      <div class="blogs-list">
        <!-- Sử dụng *ngFor để lặp qua các blogs -->
        <div class="blog-item" *ngFor="let blog of blogs">
          <div class="blog-date">
            <p>{{ blog.blogDate | date:'fullDate' }}</p> 
            <p>By {{ blog.poster || "Unknown" }}</p>    
          </div> <!-- Thêm thẻ đóng -->
          <div class="blog-content">
            <h4>{{ blog.heading }}</h4>  
            <p>{{ blog.subHeading }}</p>   
          </div>          
          <div class="blog-link">
            <a (click)="viewBlog(blog.id)">Chi tiết →</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
