<div class="footer4 b-t spacer">
  <div class="container text-center">
    <div class="round-social light">
      <a href="https://www.facebook.com/banhanxkld" class="link" target="_blank" ><i class="fa fa-facebook"></i ></a>
      <a href="https://zalo.me/0379932119" class="link" target="_blank" rel="noopener noreferrer"><i class="fa fa-comments"></i></a>
      <a href="https://twitter.com" class="link" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="mt-3 copyright">
      Xuất khẩu lao động Nhật Bản
      <a
        href="https://www.facebook.com/banhanxkld"
        target="_blank"
        rel="noopener noreferrer"
        >Trần Bá Nhân</a
      >.
    </div>
  </div>
</div>
